{# rideshare/templates/display_data.html #}
{% load render_table from django_tables2 %}
{% load static %}
<!doctype html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
        <link rel="stylesheet" href="{% static 
'ticket/static/css/screen.css' %}" />
    </head>
    <body>
      <div class="container">
        <h1> List of Drivers </h1>
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">First</th>
              <th scope="col">Last</th>
              <th scope="col">Email</th>
              <th scope="col">Driver License</th>
              <th scope="col">Phone Number</th>
            </tr>
          </thead>
          <tbody>
	    {% for index in drivers %}
            <tr>
              <th scope="row">{{ index.pk }}</th>
               <td>{{ index.first_name }}</td>
               <td>{{ index.last_name }}</td>
               <td>{{ index.email_address }}</td>
               <td>{{ index.driving_license }}</td>
               <td>{{ index.phone_number }}</td>
            </tr>
	    {% endfor %}
          </tbody>
        </table>

        <h1> List of Kids </h1>
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">First</th>
              <th scope="col">Last</th>
              <th scope="col">Guardian Name</th>
              <th scope="col">Guardian Last Name</th>
              <th scope="col">Email</th>
              <th scope="col">Phone Number</th>
            </tr>
          </thead>
          <tbody>
            {% for kid in kids %}
            <tr>
              <th scope="row">{{ kid.pk }}</th>
               <td>{{ kid.first_name }}</td>
               <td>{{ kid.last_name }}</td>
               <td>{{ kid.driver.first_name }}</td>
               <td>{{ kid.driver.last_name }}</td>
               <td>{{ kid.email_address }}</td>
               <td>{{ kid.driver.phone_number }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </body>
</html>
